{% extends 'assign/base.html' %}
{% load static %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'css/test.css' %}" type="text/css">
{% endblock css_file %}
{% block js_file %}
<script src="{%static 'js/test2.js' %}"></script>
{% endblock js_file %}


{% block title %}Assign {% endblock title %}

{% block content %}
<button class="button "><a href="{% url 'grouping' %}">Phân nhóm các KLTN</a></button>

<button class="button "><a href="{% url 'review_assign_form' %}">Phân công phản biện</a></button>
<h2>Danh sách các nhóm và hội đồng: </h2>

<div class="container">  
    <div class="row">      
        {% for group in group_list %}
        {% if group.topic_group.count != 0 %}
        <div class="container" style="padding-bottom: 30px;">
            <div class="card-group-tag col-sm-3">Nhóm {{group}}</div>
            <div class="col-sm-12 card-group-body" style="display: flex; border: 1px solid black;">
                <div class="col-sm-6" style=" border-right: 1px solid black;">
                    
                    <div class="row card-group-topic" data-id="{{group.id}}">
                        <div class="group-footer" style="height: 5px; width: 100%;"></div>
                        {% for mem in group.topic_group.all %}
                            <div class="card-name-topic" data-id="{{mem.id}}" draggable="true">  
                                {% csrf_token %}
                                {{mem}}
                            </div>
                        {% endfor %}
                        <div class="group-footer" style="height: 5px; width: 100%;"></div>
                    </div>
                    
                </div>

                <div class="col-sm-6">
                    
                    <div class="row card-group-topic" data-id="{{group.id}}">
                        <div class="group-footer" style="height: 5px; width: 100%;"></div>
                        {% for committee in group.committee_group.all %}
                            <div class="group-chairman group-mem-container" data-id="{{committee.id}}" style="border-bottom: 1px solid black;">
                                {% for lec in committee.lecturer_committee.all %}
                                    {% if lec.position_id == 1 %}    
                                        <div><b>Chủ tịch hội đồng:</b> </div>
                                        <div class="group-member" draggable="true" data-id="{{lec.degree_id}}-{{lec.work_place_id}}-{{lec.id}}">{{lec}}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% comment %} <div class="group-vice group-mem-container" data-id="{{committee.id}}" style="border-bottom: 1px solid black;">
                                {% for lec in committee.lecturer_committee.all %}
                                    {% if lec.position_id == 2 %}    
                                        <div>Pho chu tich: </div>
                                        <div class="group-member" draggable="true" data-id="{{lec.degree_id}}-{{lec.work_place_id}}-{{lec.id}}">{{lec}}</div>
                                    {% endif %}
                                {% endfor %}
                            </div> {% endcomment %}
                            <div class="group-secretary group-mem-container" data-id="{{committee.id}}" style="border-bottom: 1px solid black;">
                                {% for lec in committee.lecturer_committee.all %}
                                    {% if lec.position_id == 3 %}    
                                        <div><b>Thư ký: </b></div>
                                        <div class="group-member" draggable="true" data-id="{{lec.degree_id}}-{{lec.work_place_id}}-{{lec.id}}">{{lec}}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="group-normal group-mem-container" data-id="{{committee.id}}">
                                <div><b>Ủy viên: </b></div>
                                {% for lec in committee.lecturer_committee.all %}
                                    {% if lec.position_id == 4 %}    
                                        <div class="group-member" draggable="true" data-id="{{lec.degree_id}}-{{lec.work_place_id}}-{{lec.id}}">{{lec}}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div class="group-footer" style="height: 5px; width: 100%;"></div>
                    </div>
                    
                </div>
            </div>
        </div>
        {% endif %}
                
        {% endfor %}
    
        <form method="post" id="change-submit" action="{% url 'change_assign_test' %}">
            {% csrf_token %}
            <input type="submit" value="Xác nhận" style="color: #337ab7">
        </form>
    </div>
</div>

{% endblock content %} 
