{% extends 'assign/base.html' %}
{% load static %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'css/test.css' %}" type="text/css">
{% endblock css_file %}
{% block js_file %}
<script src="{%static 'js/test.js' %}"></script>
{% endblock js_file %}


{% block title %}Test2{% endblock title %}

{% block content %}
<button class="button "><a href="{% url 'grouping' %}">Phân nhóm các KLTN</a></button>

<button class="button "><a href="{% url 'topic_list_approved' %}">Phân công phản biện</a></button>
<h2>Danh sách các nhóm: </h2>
<div class="row">
    <div class="container">        
        {% for group in my_group_list %}
        {% if group.topic_group.count != 0 %}
        <div class="container" style="padding-bottom: 30px;">
            <div class="card-group-tag col-sm-3">Nhóm {{group}}</div>
            <div class="col-sm-12 card-group-body" style="display: flex; border: 1px solid black;">
                <div class="col-sm-6" style=" border-right: 1px solid black;">
                    
                    <div class="row card-group-topic" data-id="{{group.id}}">
                        <div class="group-footer" style="height: 5px; width: 100%;"></div>
                        {% for mem in group.topic_group.all %}
                            <div class="card-name-topic" data-id="{{mem.id}}" draggable="true">  
                                {% csrf_token %}
                                {{mem}}
                            </div>
                        {% endfor %}
                        <div class="group-footer" style="height: 5px; width: 100%;"></div>
                    </div>
                    
                </div>
            </div>
        </div>
        {% endif %}
                
        {% endfor %}
        
        <button class="button "><a href="{% url 'assign' %}">Lập hội đồng</a></button>
    </div>
</div>
{% endblock content %}
